<!DOCTYPE html>
<html>

<head>
  <title>Login | LZ Corp</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <header class="navbar">
    <nav>
      <a href="/">
        <div class="logo">LZ Corp</div>
      </a>
    </nav>
  </header>

  <main>
    <div class="form-container">
      <h2>Sign In to Your Account</h2>
      <form method="POST">
        <label>Username</label>
        <input type="text" name="username" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit">Login</button>
      </form>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="flash">
        {% for msg in messages %}
        <p>{{ msg }}</p>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
    </div>
  </main>
</body>

</html>
